tr{display:inline-block;}
td{display:block;}

.desc-margin {
    margin-top: 20px;
    color: #777777;
    font-variant: small-caps;
    font-style: italic;
}

.btn-episode {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.video-player {
    height: 500px;
}
